body {
  background-color: #FFFFFF;;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header {
  background-color: white;
  padding: 3em;
  margin: -1em;
}

ul.navigation {
  list-style: none;
  margin: 0;
}

li.navlink {
  display: inline;
  padding: 2em;
  font-size: 1.2em;
}

#logo {
  float: left;
  font-size: 1.5em;
  font-weight: bold;

}

nav {
  float: right;
}

img {
  width: 100%;
}

#main {
  background-image: url("cards_photo_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}

#main-button {
  position: absolute;
  left: 75%;
  top: 50%;
  border: none;
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
/*  margin-left: 75%;
  margin-top: 20%;*/
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
}

#contact-footer {
  position: absolute;
  left: 50%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  font-size: 0;
  clear:both;
  height: 0;
}
